* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
}

.todo-container {
  width: 65%;
  margin: 100px auto;
  background-color: #f5f0f0;
  padding: 40px 60px 40px 40px;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(105, 19, 204);
  width: 95%;
  height: 50px;
  border-bottom: 2px solid #f0ebeb;
}

.todo-add input {
  width: 95%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid #f0ebeb;
}

.todo-dynamic {
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  width: 95%;
  height: 50px;
  border-bottom: 2px solid #f0ebeb;
}

.settings {
  float: right;
  position: relative;
  top: -30px;
  z-index: 5;
}

.todo-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-text {
  margin-left: 10px;
  height: 43px;
  width: 250px;
  border: none;
  display: flex;
  align-items: center;
}

.fa {
  color: rgb(85, 82, 82);
  font-size: 32px;
}

.clear-task {
  display: block;
  margin: 2px auto;
  border: none;
  width: 103.5%;
  height: 50px;
  border-bottom: 4px solid #e7e1e1;
  font-size: 16px;
  color: #6d6c6c;
}

::placeholder {
  font-style: italic;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.pp {
  margin: 0;
}

.checked {
  text-decoration: line-through;
}

.fa-trash {
  display: none;
}

.edit {
  display: none;
}

.trash {
  display: block;
}

.checkedColor {
  background-color: rgb(245, 229, 179);
}
